@model EFpartialClassDemo.Entities.Product

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="UnitPrice" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="UnitPrice" class="form-control" />
					<span asp-validation-for="UnitPrice" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="ExpirationDate" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="ExpirationDate" class="form-control" />
					<span asp-validation-for="ExpirationDate" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="CategoryId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="CategoryId" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="Index">Back to List</a>
				</div>
            </div>
        </form>
    </div>
</div>

